# Week 3 - Data Analytics
## Activity: Lab Session 3

__Name__: _Your full name_

__Date__: _dd/mm/yyyy_

## Background

### Analysis

In this assignment, we are going to analyse the NetFlix dataset by answering a number of questions about it. 

### Interpretation

__You can try your own questions: what would _you_ like to learn from the data?__ 

Share your results with the class.

In [2]:
import pandas as pd
# import the library Pandas

# read the dataset file.
shows = pd.read_csv("shows.csv")

# use for loop with enumerate 
for idx, column in enumerate(shows.columns):
    # display a counter and next the corresponding columns labels
    print(f"{idx:02d}: {column}")
    
# Display a message with the size of the columns and the size of the rows of the dataset.
print(f"- {len(shows.columns)} columns, {len(shows.index)} rows")

00: id
01: type
02: title
03: director
04: cast
05: country
06: added
07: released
08: rating
09: duration
10: categories
11: description
- 12 columns, 6234 rows

## Exercise 1: Sample queries

__1A.__  What is the average movie duration?


__1B.__  What are the top-$k$ longest running (in terms of number of seasons) TV shows?

__N/B:__  Each _TV show and _movie_ is assigned a rating. For example, a rating of `TV-Y` indicates a TV show for _all children_; `G` a movie for _general audiences_; and so on. More information can be found on the Web (e.g. [here](https://www.spectrum.net/support/tv/tv-and-movie-ratings-descriptions/)). Try:

```
>>> shows['rating'].unique()
```

to identify the set of possible ratings in the dataset.



__1C.__  Perform an analysis of _TV shows and _movies_ based on their rating. For example, what is the target audience of the NetFlix platform?

__NB:__  A _TV show_ or _movie_ is produced in one of more countries. For example, the value of column `country` in the first row of the dataset is `'United States, India, South Korea, China'`, indicating an international collaboration of four countries.



__1D.__  Perform an analysis of international collaborations (in terms of number of countries) in _TV programs_ and _movies_. How did they evolve over the years?

## Appendix I: Function _`explode()`_ and dictionaries in Python

Consider the following example data frame, where column values are not __atomic__.

In [5]:
import pandas as pd
# import the library Pandas

# Declare and define the dataframe disctionary.
data = {
    "id": [ 1,  2, 3],
    "director": ['Mary, John', None, 'Mark, Mary'],
    "cast": ['A, B', 'A, B, C, D', 'A, B, C']
}

# assign the dataframe to df
df = pd.DataFrame(data)

# echo out the dataframe on the terminal.
df

   id    director        cast
0   1  Mary, John        A, B
1   2        None  A, B, C, D
2   3  Mark, Mary     A, B, C

In [7]:
def _toList(s):
    """
    Splits a comma-separated string and return 
    it as a list of strings
    """
    if not s:
        return []
    
    # separate the ',' from the rest of the data
    lst = s.split(',')
    lst = [x.strip() for x in lst]
    
    return lst


# Convert string to list of strings by using function map()
df.cast = df.cast.map(_toList)

# Transform each element of a list to a row
df = df.explode('cast', ignore_index=True)


# Call function groupby() to find out the number counts of the casts.
# Echo out the returned data.
df.groupby('cast').id.count()

cast
A    3
B    3
C    2
D    1
Name: id, dtype: int64